{% extends "base.html" %}
{% load static %}
{% block content %}

<body style="background-color: #f9fafb;">
    
    <div>
        <div style="margin: 0px 10px;">
            <div class="container" style="padding: 0px; margin-top: 30px;">
                <div class="d-flex align-items-center">
                    <a class="btn save-btn" id="open" style="cursor: pointer;" href="{% url 'vacationRequest' %}">إجازة جديدة</a>
                    {% if not request.user.is_superuser and request.user.department.department_id != 1 %}
                    <div class="dropdown">
                        <button class="btn dropdown-toggle save-btn me-2" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            حالة الإجازة
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="statusDropdown">
                            <li><a class="dropdown-item" href="{% url 'requestView' %}">الكل</a></li>
                            <li><a class="dropdown-item" href="{% url 'requestView' %}?q=0">معلق</a></li>
                            <li><a class="dropdown-item" href="{% url 'requestView' %}?q=2">تم الموافقه</a></li>
                            <li><a class="dropdown-item" href="{% url 'requestView' %}?q=1">تم الرفض</a></li>
                        </ul>
                    </div>
                    {% endif %}
                    {% if request.user.is_superuser or request.user.department.department_id == 1 %}
                    <div class="d-flex align-items-center me-2">
                        <form method="GET" action="{% url 'requestView' %}" class="d-flex">
                            <input type="text" name="search" class="form-control ms-2" placeholder="ابحث..." value="{{ request.GET.search }}">
                            <button type="submit" class="btn save-btn" style="width: 50px;">ابحث</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <section class="profile container p-3 pt-4">
                <div class="table-responsive">
                    <table class="table table-striped" align="center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">الاسم</th>
                                <th scope="col">نوع الاجازه</th>
                                {% if department.department_id == 1 %}
                                <th scope="col">القسم/الاداره</th>
                                {% endif %}
                                <th scope="col">تاريخ الطلب</th>
                                <th scope="col">المدة</th>
                                <th scope="col">الحالة</th>
                                <th scope="col">الإجراء</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for vacation in vacations %}
                            <tr>
                                <th scope="row">{{vacation.request_number}}</th>
                                <td><a href="#" style=" text-decoration: none; color: #2e2e2e;">{{ vacation.employee }}</a></td>
                                <td>{{vacation.get_vacation_type_display}}</td>
                                {% if department.department_id == 1 %}
                                <td>{{vacation.employee.department}}</td>
                                {% endif %}
                                <td>{{vacation.request_date|date:'d/m/Y'}}</td>
                                <td>{{vacation.duration}} ايام</td>
                                {% if vacation.status == '0' %}
                                <td><div class="alert alert-warning" role="alert" style="padding: 6px 1rem; text-align: center; margin-bottom: 0px; min-width: 132px;">{{ vacation.get_status_display }}</div></td>
                                {% elif vacation.status == '1' %}
                                <td><div class="alert alert-danger" role="alert" style="padding: 6px 1rem; text-align: center; margin-bottom: 0px; min-width: 132px;">{{ vacation.get_status_display }}</div></td>
                                {% else %}
                                <td><div class="alert alert-success" role="alert" style="padding: 6px 1rem; text-align: center; margin-bottom: 0px; min-width: 132px;">{{ vacation.get_status_display }}</div></td>
                                {% endif %}
                                
                                <td><a href="{% url 'showMyRequest' vacation.request_number %}" class="btn save-btn ms-2">عرض</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <br>
</body>
{% endblock content %}
