{% extends "base.html" %}
{% load static %}
{% block content %}

<body style="background-image: url('{% static 'image/background.jpg' %}'); background-size: cover; background-attachment: fixed;">
        
  <!-- <img class="bg-img" src="static/background.jpg" alt=".."> -->
  <div style="margin: 0px 10px;">
    <section class="sign">
        <form class="register pt-5" style="direction: rtl;" method="POST" action="{% url "login" %}">
          {% csrf_token %}
            <div class="reg m-auto mt-5 pt-5 pb-5 pl-2 pr-2 container">
            <h2 class="p-3 pt-1 text-left">إعادة تعيين كلمة المرور</h2>
            
            <div class="alert alert-success" role="alert">
              تم تعيين كلمة المرور الخاصه بك بنجاح يمكنك <a href="{% url "login" %}" class="alert-link">تسجيل الدخول</a>.
            </div>
            

        </form>
    </section>
  </div>
</body>
{% endblock content %}
