{% extends "base.html" %}
{% load static %}
{% block content %}

<body style="background-image: url('{% static 'image/background.jpg' %}'); background-size: cover; background-attachment: fixed;">
        
  <!-- <img class="bg-img" src="static/background.jpg" alt=".."> -->
  <div style="margin: 0px 10px;">
    <section class="sign">
        <form class="register pt-5" style="direction: rtl;" method="POST">
          {% csrf_token %}
            <div class="reg m-auto mt-5 pt-5 pb-5 pl-2 pr-2 container">
            <h2 class="p-3 pt-1 text-center">إعادة تعيين كلمة المرور</h2>
            
            <div class="alert alert-success" role="alert" style="margin-bottom: 30px;">
              أدخل عنوان بريدك الإلكتروني أدناه، وسنرسل إليك عبر البريد الإلكتروني تعليمات لإعداد كلمة مرور جديدة
            </div>
            <div class="inputdiv mb-3 d-inline-block">
              <label for="n-p">البريد الإلكتروني:</label>
              <br>
              <input type="email" name="email" id="email" class="input_sign" placeholder="email@example.com" value="{{ email }}" required>
              {% if message_error %}
                  <p style="color: #BF3131; margin-bottom: 25px;">{{ message_error }}</p>
              {% endif %}
          </div>
            <br>
            <input type="submit" value="إعادة تعيين كلمة المرور" class="login d-block btn m-auto mb-2 ">
            <a href="{% url "login" %}" class="d-block btn m-auto">العوده لتسجيل الدخول<i class="fa-solid fa-chevron-left pe-3"></i></a>

        </form>
    </section>
  </div>
</body>
{% endblock content %}
