{% extends "base.html" %}
{% load static %}
{% block content %}

<body style="background-image: url('{% static 'image/background.jpg' %}'); background-size: cover; background-attachment: fixed;">
        
  <!-- <img class="bg-img" src="static/background.jpg" alt=".."> -->
  <div style="margin: 0px 10px;">
    <section class="sign">
        <form class="register pt-5" style="direction: rtl;" method="POST" action="{% url "login" %}">
          {% csrf_token %}
            <div class="reg m-auto mt-5 pt-5 pb-5 pl-2 pr-2 container" style="max-width: 815px;">
            <h2 class="p-3 pt-1 text-left">تم ارسال إعادة ضبط كلمة المرور</h2>
            
            <div class="alert alert-success pt-3 pb-3" role="alert" style="margin-bottom: 30px;">
              تم إرسال بريد إلكتروني بالتعليمات لضبط كلمة المرور الخاصة بك، وذلك في حال تواجد حساب بنفس البريد الإلكتروني الذي أدخلته. سوف تستقبل البريد الإلكتروني قريباً
            </div>
            
            <a href="{% url "login" %}" class="login d-block btn m-auto mb-2 ">العوده لتسجيل الدخول</a>

        </form>
    </section>
  </div>
</body>
{% endblock content %}
